
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html,body{
    position: absolute;
    height: 100%;
    width: 100%;
}

body{

    background-color: #f2f2f2;
}

.navigator{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

/* 모든 리스트 태그안의 있는 설정을 inline 그리고 스타일없이 설정 */
li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 15px;
}

ul{
    margin-left: -15px;
    
}

.site-name{
    margin:0;
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
    color: #F2E635;
}
/* 다른페이지에서 list를 쓸 수 있기 때문에 
폰트설정은 따로 클래스를 지정해주어 분리한다 */
.nav-menu{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 16px;
    
}
/* 로고 */


.site-name > a{
    color:#F2E205;
}
/* 모든 a태그 */
a{
    color:#60A672;
    text-decoration:none;

}



.korean-comment>a{
    color:#6A8AA6;
}

.frame {
    font-family: 'Gowun Dodum', sans-serif;
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame>h1{    
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    color: #FC4C57;
    margin-top: 50px;
    margin-bottom: 0;
}

/* login */
select{
    width:85px;
    height:25px;
    outline: none;
    background: #f5f6f7;
    border: 1px solid #999;
}

.main{
    text-align: center;
	margin-top: 20px;
}
input{
    cursor: pointer
}

/*input 아이디박스*/
.login-id-wrap{
    width: 500px;
    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}
/*input 아이디 form*/
#input-id{
    border: none;
    outline:none;
    width:100%;
}
/*input 패스워드박스*/
.login-pw-wrap{
    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}
/*input 패스워드 form*/
#input-pw{
    border: none;
    outline:none;
    width:100%;
}
/*로그인버튼박스*/
.login-btn-wrap{
    height: 52px;
    line-height: 55px;
    margin: 0px 10px 8px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #C3E2DE;
    color: #fff;
    cursor: pointer;
}
/* 로그인버튼색상 */
#login-btn {
    width: 100%;
    background-color: #C3E2DE;
    border: none;
    color: black;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
#signup-btn {
    width: 100%;
    background-color: #C3E2DE;
    border: none;
    color: black;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.signup-btn-wrap{
    height: 52px;
    line-height: 55px;
    margin: 0px 10px 8px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #C3E2DE;
    color: #fff;
    cursor: pointer;
}



/* footer */
.footer{

    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 800px;
}

.contact{
    border-top: 1px solid #F2E635;
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    font-weight: 700;
    margin-bottom: 30px;
    color:black;
}
.link > a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    color:black;
}
.link > a:hover{
    color:white;
}

/* signup */
