/*post slider*/
.post-slider{
    width:70%;
    margin:0px auto;
    position:relative;
  }

.post-slider>a{
    font-size: 30px;
}
  .post-slider .silder-title{
    text-align:center;
    margin:30px auto;
  }
  .post-slider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .post-slider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size:2em;
    color:gray;
      cursor: pointer;
  }
  .post-slider .post-wrapper{
  
    width:84%;
    height:350px;
    margin:0px auto;
    overflow: hidden;
    padding:10px 0px 10px 0px;
  }
  .post-slider .post-wrapper .post{
    width:300px;
    height:600px;
    margin:0px 10px;
    display:inline-block;
    background:white;
    border-radius: 5px;
  }
  .post-slider .post-wrapper .post .post-info{
    font-size:15px;
    height:30%;
    padding-left:10px;
  }
  .post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 226px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    
  }

  .post-info>h4{
    display:flex;
    font-size:30px;
    align-items: center;
    flex-direction: column;
    padding:34px
  }

  
  .post-info>h4>a{
    font-style: black;
  }

